/* Header */

.img-header-logo{
    width: 16rem;
}
.a-img-header-logo{
    padding: .5rem;
    margin-left: 6rem;
}
.a-ul-li-header-menubar{
    text-decoration: none;
}

/* Main */

.a-section-above-subtitle{
    text-decoration: none;
    position: absolute;
    font-size: .8rem;
    color: white;
    background: rgb(46, 46, 46, .6);
    padding: 8px;
    border-radius: 5px;
    top: 2.5rem;
    left: 2.6rem;
}
.a-section-above-subtitle:hover{
    background: rgba(255, 27, 27, 0.7);
}
.img-section-imgtxt{
    width: 100%;
    filter: brightness(70%);
}
.p-div-section-img-subtitle{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    position: absolute;
    top: 18rem;
    left: 3rem;
}
.span-div-section-img-under-subtitle{
    font-family: sans-serif;
    font-size: .8rem;
    color: rgb(189, 189, 189);
    position: absolute;
    top: 24.5rem;
    left: 3rem;
}

/* Main Content Entry */

/* Main Content Principal */

.h2-main-content{
    font-size: 2rem;
}
#p-div-main-content{
    color: rgb(46, 46, 46);
    font-size: 1.1rem;
}

/* rgba(240,240,255,1) */